<?xml version="1.0"?>

<model>
  <name>typhoon_inha</name>
  <version>1.5</version>
  <sdf version="1.5">typhoon_inha.sdf</sdf>

  <author>
    <name>Optional: INHA UNIV. ACSL</name>
    <email>Optional: 22211371@inha.edu</email>
  </author>

  <description>
    A model of typhoon Edited by INHA UNIV. ACSL
  </description>

</model>
